@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400 ease;
}

body{
    background-color: var(--color-bg);
    color: var(--color-white);
    background-image: url('./assets/background-texture-2.png');
    background-repeat: repeat-x;
    font-family: 'Oswald', sans-serif;
}

/* .App{
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  padding: 5rem;
} */